<form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
  <div class="form-group">
    <label for="inputEmail">Adresse email</label>
    <input
      name="email"
      ngModel
      #email="ngModel"
      type="email"
      class="form-control"
      id="inputEmail"
      placeholder="Votre email"
      required
    />
    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="email.errors?.['required']">Un email est requis</div>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword">Mot de passe</label>
    <input
      #password="ngModel"
      name="password"
      ngModel
      type="password"
      class="form-control"
      id="inputPassword"
      placeholder="Votre mot de passe"
      required
    />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="password.errors?.['required']">
        Un mot de passe est requis
      </div>
    </div>
  </div>

  <div class="form-check">
    <label for="inputCheckbox" class="form-check-label">A cocher</label>
    <input
      #check="ngModel"
      name="check"
      ngModel
      type="checkbox"
      class="form-check-input"
      id="inputCheckbox"
      required
    />
    <div
      *ngIf="check.invalid && (check.dirty || check.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="check.errors?.['required']">Veuillez cocher la case</div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-outline-success my-2 my-sm-0"
    [disabled]="formLogin.invalid"
  >
    Soumettre
  </button>
</form>
