<div class="card" *ngIf="album">
  <img
    class="card-img-top"
    src="{{ album.url }}"
    alt="{{ album.name }}"
    *ngIf="album.url; else defaultBlockImage"
  />
  <ng-template #defaultBlockImage>
    <img class="card-img-top" src="{{ defaultImage }}" alt="{{ album.name }}" />
  </ng-template>
  <div class="card-body">
    <h5 class="card-title">{{ album.title }}</h5>
    <p class="card-text">{{ album.ref }}</p>
    <a href="#" class="btn btn-primary" (click)="clickPlay(album)">Play >> </a>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let song of songs">
      {{ song }}
    </li>
  </ul>
</div>
