<form
  class="form-inline my-2"
  (ngSubmit)="onSubmit(formSearch)"
  #formSearch="ngForm"
>
  <div class="input-group mb-3">
    <input
      name="word"
      ngModel
      required
      class="form-control mr-3"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <div class="input-group-prepend ml-3">
      <button
        [disabled]="formSearch.invalid"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >
        Search
      </button>
    </div>
  </div>
</form>
